.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: blue;
}

.custom-h1 {
  background: linear-gradient(to right, yellow 0%, blue 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}